@import url('https://fonts.googleapis.com/css?family=Orbitron:500&subset=latin-ext');

*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url('dust.png');
}

html{
		height: 100%;
}

/* --- Other players --- */

#players{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.player{
	display: inline-block;
	margin: 1em 0;
}
.player-name{
	font-family: Orbitron;
	font-size: 2em;
	color: #ffffff;
	text-align: center;
}
.player-cards{
	margin-top: 1em;
	margin-left: 5em;
}
.back{
	display: inline-block;
	text-align: left;
	transition: 0.4s;
	font-size: 5px;
	width: 17em;
	height: 23em;
	border: 5px #ddd solid;
	border-radius: 10px;
	box-shadow: -1px 1px 2px #222;
	user-select: none;
	background-color: #252020;
}
.back:not(first-child){
	margin-left: -13em;
}

/* --- Stack --- */

#stack{
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: center;
}
.stack-card{
	position: absolute;
	display: inline-block;
	text-align: left;
	transition: 0.4s;
	font-size: 10px;
	width: 17em;
	height: 23em;
	border: 5px #ddd solid;
	border-radius: 10px;
	box-shadow: -1px 1px 2px #222;
	user-select: none;
}

/* --- My cards --- */

#myCards{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 2em;
	text-align: center;
	font-size: 10px;
}
.card{
	display: inline-block;
	text-align: left;
	transition: 0.4s;
	font-size: 10px;
	width: 17em;
	height: 23em;
	border: 5px #ddd solid;
	border-radius: 10px;
	box-shadow: -1px 1px 2px #222;
	user-select: none;
	cursor: pointer;
}
.card:not(:first-child){
	margin-left: -13em;
}
.card-text{
	margin-left: 0.33em;
	color: #fff;
	text-shadow: 1px 1px #000;
	font-size: 30px;
	font-family: Orbitron;

}
.card-symbol{
	display: block;
	margin-top: 0.1em;
	color: #fff;
	width: 100%;
	text-shadow: 1px 1px #000;
	font-size: 10em;
	text-align: center;
	font-family: Orbitron;
}
.card:hover + .card{
	margin-left: -1em;
}

.red{
	background-color: #d35400;
}
.blue{
	background-color: #2980b9;
}
.yellow{
	background-color: #f1c40f;
}
.green{
	background-color: #27ae60;
}
.black{
	background-color: #2c3e50;
}

/* --- Deck --- */

#deck{
	position: absolute;
	right: 2em;
	bottom: 2em;
	font-size: 10px;
	width: 17em;
	height: 23em;
	border: 5px #ddd solid;
	border-radius: 10px;
	box-shadow: -1px 1px 2px #222;
	user-select: none;
	background-color: #252020;
	cursor: pointer;
}


/* --- Controls --- */

#controls{
	position: absolute;
	left: 2em;
	bottom: 2em;
	font-size: 10px;
}
#controls div{
	width: 6em;
	height: 1.5em;
	text-align: center;
	font-size: 2em;
	line-height: 1.5em;
	font-family: Orbitron;
	text-shadow: 1px 1px #000;
	color: #ffffff;
	background-color: #e7c328;
	border: 0.15em solid #ffffff;
	border-radius: 0.1em;
	cursor: pointer;
}
#game-start{
}
#game-start:hover{
	background-color: #ffd72d;
	border-color: #fff;
}
